 /*Global*/
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
}

.container {
    position: relative;
    margin: auto;
    width: 100%;
    height: auto;
}

.row {
    position: relative;
    margin: auto;
    width: 100%;
    height: auto;
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    /*border: 1px solid black;*/
    padding: 10px;
}

/*Header section*/
    header #logo {
    font-family: 'Ranchers';
    font-size:50px;
    text-align:center;
    line-height:60px;
}

header .icon-box {
    width: 42px;
    height: 42px;
    border-radius: 100%;
    text-align: center;
    line-height: 42px;
    color:white;
}

header #ig {
    background:purple;
}

header #fb {
    background:blue;
}

header #tw {
    background: lightblue;
}

/*Navigation Bar section*/
nav ul li {
    padding:10px;
    text-align:center;
}

nav ul li a {
    display:block;
    background:rgba(100,0,255,1);
    font-family: 'Ranchers', cursive;
    color:white;
    line-height:48px;
}

nav ul li a:hover {
    background:rgba(100,0,255,.4);
}

nav ul li a:active {
    background:rgba(255,0,100,1);
}

/*Upper Panel section*/

/*Article section*/

/*Footer section*/

/*@media queries*/
/*large display*/
@media(min-width:1200px) {

    .col-lg-12 {
        width: 100%;
    }

    .col-lg-8 {
        width: 66.66666666%;
    }

    .col-lg-6 {
        width: 50%;
    }

    .col-lg-4 {
        width: 33.33333333%;
    }

    .col-lg-3 {
        width: 25%;
    }

    .col-lg-2 {
        width: 16.66666666%;
    }

    .col-lg-1 {
        width: 8.33333333%;
    }

    .col-lg-0 {
        display:none;
    }
}

/*medium display*/
@media(max-width:1199px) and (min-width:992px) {

    .col-md-12 {
        width: 100%;
    }

    .col-md-8 {
        width: 66.66666666%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-4 {
        width: 33.33333333%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-2 {
        width: 16.66666666%;
    }

    .col-md-1 {
        width: 8.33333333%;
    }

    .col-md-0 {
        display: none;
    }
}

/*small display, such as tablets*/
@media(max-width:991px) and (min-width:768px) {

    .col-sm-12 {
        width: 100%;
    }

    .col-sm-8 {
        width: 66.66666666%;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-4 {
        width: 33.33333333%;
    }

    .col-sm-3 {
        width: 25%;
    }

    .col-sm-2 {
        width: 16.66666666%;
    }

    .col-sm-1 {
        width: 8.33333333%;
    }

    .col-sm-0 {
        display: none;
    }
}

/*extra small display, such as phones*/
@media(max-width:767px) {

    .col-xs-12 {
        width: 100%;
    }

    .col-xs-8 {
        width: 66.66666666%;
    }

    .col-xs-6 {
        width: 50%;
    }

    .col-xs-4 {
        width: 33.33333333%;
    }

    .col-xs-3 {
        width: 25%;
    }

    .col-xs-2 {
        width: 16.66666666%;
    }

    .col-xs-1 {
        width: 8.33333333%;
    }

    .col-xs-0 {
        display: none;
    }
}
